@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: absolute;
  right: 150px;
  height: 26px;
  width: 50px;
  transform: scale(1);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(25px);
}

.fa-moon {
  color: #636363;
}

.fa-sun {
  color: #f1c40f;
}


body[data-bs-theme="dark"] {
  background-color: #1e1e1e;
  color: #f8f8f8;
}

body[data-bs-theme="dark"] .navbar {
  background-color: #333;
}

body[data-bs-theme="dark"] .nav-link {
  color: #f8f8f8;
}

@media (max-width: 576px) {
  .label {
    right: 10px;
  }
}

#hello {
  position: fixed;
  top: 11px;
  right: 195px;
  font-size: 16px;
  color: white;
  padding: 10px;
}